@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    font-family: var(--font-jetbrainsMono); 
    background-color: #1c1c22; 
    color: #ffffff; 
    @apply leading-loose;
  }
}
  